@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #202020;
  background-color: rgb(218, 218, 218);
  align-items: center;
}


/* Menu lateral */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(2, 16, 36, 0.813);
  transition: left 0.3s ease-in-out;
  z-index: 101;
}

.menu-lateral .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.menu-lateral .menu a {
  font-weight: 200;
  margin: 10px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.menu a:hover {
  color: rgba(250, 210, 25, 1);
}
/* Fim do menu lateral */



/* Menu */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(2, 16, 36, 0.813);
  height: 60px;
  position: relative;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 70px;
  height: 70px;
  margin-left: 1260px;
}

header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

header .menu a {
  font-weight: 200;
  margin: 10px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.menu-toggle {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 24px;
  z-index: 102;
  color: #F5F5F5;
}



/* Página Inicial */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px); /* min-height para garantir que o conteúdo ocupe pelo menos a altura da janela */
}

.logo2 {
  display: block;
  margin: auto; /* Centraliza horizontalmente */
  width: 150px;
  height: auto;
  margin-top: 50px; /* Margem superior para centralizar o logo */
}

h1 {
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 70px;
  color: rgba(13, 54, 83, 1);
  margin: 0px;
  text-align: center;
}

.paragrafo2 {
  font-weight: lighter;
  text-align: center;
  margin-top: 0px;
  font-size: 25px;
  color: rgb(69, 69, 69);
}

@media (max-width: 1024px) {      /* Responsividade das fotos Maximo de tela 1024px */
  .logo2 {
      display: inline-block;
      margin-left: 0px;
      margin-right: 0px;
  }
}

@media (max-width: 1050px) {     /* Responsividade das fotos Maximo de tela 1050px */
  .logo2 {
      display: inline-block;   
  }
}

@media (max-width: 480px) {      /* Responsividade das fotos Maximo de tela 480px */
  .logo2 {
      display: inline-block;     
  }
}


/* Caixas em Destaque */
.featured-boxes {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to top, #031D3B, rgb(218, 218, 218));
  background-color: #031D3B;
  border-radius: 100px;
}

.featured-box {
  flex-basis: calc(33.33% - 10px); /* Distribui igualmente em telas maiores */
  margin-bottom: 20px;
  background-color: #03152cb0;
  padding: 20px;
  margin: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  text-align: center;
  color: white;
  border-radius: 20px;
  
}

.featured-box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.featured-box h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.symbol {
  font-size: 24px;
  margin-bottom: 5px;
}

.featured-box p {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 30px;
}

.consult-button {
  background-color: #F5F5F5;
  color: #0B2E5C;
  border: none;
  margin-bottom: 20px;
  padding: 5px 15px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  border-radius: 20px;
}

.box-lateral h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #202020;
}

.about-us-box {
  margin: 50px auto;
  padding: 20px;
  background-color: #03152cb0;
  text-align: center;
  color: white;
  border-radius: 20px;
  max-width: 80%;
}

.about-us-box h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-content p {
  font-size: 19px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.about-us-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.faq-box {
  margin: 50px auto;
  padding: 20px;
  background-color: #03152cb0;
  text-align: center;
  color: white;
  border-radius: 20px;
  max-width: 80%;
}

.faq-box h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #F5F5F5;
}

.faq-question {
  margin-bottom: 20px;
}

.faq-question h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #F5F5F5;
  cursor: pointer;
}

.faq-answer {
  display: none;
  font-size: 16px;
  color: #F5F5F5;
}



.sales-page {
  margin: 50px auto;
  padding: 20px;
  background-color: #03152cb0;
  text-align: center;
  color: white;
  border-radius: 20px;
  max-width: 80%;
}

.sales-page h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.sales-gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sales-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.sales-image {
  max-width: 100%;
  max-height: 300px;
  margin: 0 10px;
  border-radius: 10px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  color: #031D3B;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}



/* Rodapé */
footer {
  margin-top: 100px;
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.47);
  color: #F5F5F5;      
}